@import '/scss/mics/variables.scss';


body {
    font-family: 'BioRhyme', serif;
    background-color: $color_fondo;
    background-image: url(/img/Fondo.png);
}

footer {
    text-align: center;
    font-family: 'BioRhyme', serif;
    margin-top: 150px;
    text-decoration: none;
}
.footer {
    text-decoration: none;
}
.titulo {
    text-align: center;
    margin-top: 30px;
}

.text-center {
    margin-top: 150px;
}

/* NAVEGACIÓN NAVEGACIÓN */
.navegacion {
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.navegacion li {
    list-style: none;
}

.navegacion a {
    text-decoration: none;
    color:$color-letranegra;
    background-color: $color-principal;
    width: 10px;
    padding: 10px;
}

.navegacion a:hover {
    background-color: $color-hover;
    transition: all 1s;
}

/* NAVEGACIÓN NAVEGACIÓN */
.card-body {
    font-family: 'BioRhyme', serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* ICONOS CONTACTOS ICONOS CONTACTOS */
.iconos {
    display: flex;
    margin-top: 150px;
    justify-content: center;
}

.fa-facebook {
    font-size: 15rem;
    color: $color-iconos;
}

.fa-instagram {
    color: $color-iconos;
    font-size: 15rem;
}

/* ICONOS CONTACTOS ICONOS CONTACTOS */


/*  TELEFONOS PEQUEÑOS */
@media only screen and (max-width:576px) {

    .navegacion {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navegacion li {
        margin: 10px;
        padding: 10px;
    }

    .fa-facebook {
        font-size: 10rem;
    }
    
    .fa-instagram {
        font-size: 10rem;
    }
}