
body {
    font-family: 'BioRhyme', serif;
    background-color: rgb(204, 227, 222);
    background-image: url(/img/Fondo.png);
}

footer {
    font-family: 'BioRhyme', serif;
}

li.list-inline-item {
    flex: wrap;
    text-decoration: none;
    background-color: rgb(164, 195, 178);
    border: rgb(107, 144, 128) 2px solid;
    display: inline;
    margin-right: 8px; 
}

a {
    text-decoration: none;
    color: black;
  }

a:hover {
    font-family: 'BioRhyme', serif;
    color: black;
}

.list-inline-item:hover {
    background-color: rgb(186, 212, 170);
}

.card-body {
    font-family: 'BioRhyme', serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

body.row {
    background: rgb(107, 144, 128;
}