body {
    font-family: 'BioRhyme', serif;
    background-color: $color_fondo;
    background-image: url(/img/Fondo.png);
}

.card-body {
    @include flex (flex, column, flex-end); 
        $display: flex;
        $direction: column;
        $justify: flex-end; 
    }