body {
    font-family: 'BioRhyme', serif;
    background-color: $color_fondo;
    background-image: url(/img/Fondo.png);
    padding: 0 1em;
}

.card-body {
    $display: flex;
    $direction: column;
    $justify: flex-end;
}

.card {
    box-shadow: 0 0 20px 0 rgb(164, 195, 178);
}

.product-flags {
    list-style: none;
    font-size: 20px;
    color: rgb(0, 0, 0);
    background-color: #f0f0f0;
    width: 140px;
    box-shadow: 7px 7px 15px #e6e6e6;
}
