/* COLORES COLORES */
$color-principal: rgb(164, 195, 178);
$color-hover: rgb(212, 239, 223);
$color-fondo: rgb(204, 227, 222);
$color-iconos: rgb(186, 212, 170);
$color-letranegra:rgb(0, 0, 0);
/* COLORES COLORES */