.iconos {
    display: flex;
    margin-top: 150px;
    justify-content: center;
}

.fa-facebook {
    font-size: 15rem;
    color: $color-iconos;
}

.fa-instagram {
    color: $color-iconos;
    font-size: 15rem;
}