/* Pantallas extra pequeñas  */
@media only screen and (max-width:576px) {

    .navegacion {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navegacion li {
        margin: 10px;
        padding: 10px;
    }

    .fa-facebook {
        font-size: 10rem;
    }
    
    .fa-instagram {
        font-size: 10rem;
    }
}
/* Pantallas extra pequeñas  */

/* Media Formulario  */
@media(min-width: 700px) {
    body {
        padding: 0 4em;
    }
    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact-wrapper > * {
        padding: 2em;
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: left;
    }
  }
/* Media Formulario  */

/* Media footer  */
@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }
  /* Media footer  */