/*  TELEFONOS PEQUEÑOS */
@media only screen and (max-width:576px) {

    .navegacion {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navegacion li {
        margin: 10px;
        padding: 10px;
    }

    .fa-facebook {
        font-size: 10rem;
    }
    
    .fa-instagram {
        font-size: 10rem;
    }
}
/*  TELEFONOS PEQUEÑOS */

/*  PANTALLAS MEDIANAS */
@media(min-width: 700px) {
    body {
        padding: 0 4em;
    }
    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact-wrapper > * {
        padding: 2em;
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: left;
    }
  }
/*  PANTALLAS MEDIANAS */